@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #28a745;
    --text-color: #212629;
    --background-color: #ffffff;
}

body {
    font-family: 'PT Serif', serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    max-width: 800px; /* Limit entire width of the page */
    margin: 0 auto; /* Center align the page */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color); /* Heading color */
}

p {
    color: var(--text-color); /* Paragraph text color */
}

.social-links a {
    text-decoration: none; /* Remove underlines from social media links */
}

.hero {
    position: relative; /* Position relative to accommodate absolute positioning */
    overflow: hidden; /* Ensure child elements don't overflow */
}

.hero img {
    display: block;
    width: 100%; /* Relative width */
    height: auto; /* Maintain aspect ratio */
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background-color); /* Text color */
    background-color: var(--primary-color); /* Background color */
    padding: 10px 20px; /* Padding for readability */
    opacity: 0.9; /* Adjust opacity */
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    padding: 20px; /* Padding for readability */
}

.hero article img {
    float: right; /* Float image to the right */
    margin-left: 20px; /* Add margin for spacing */
}
