@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #72b3f8;
    --text-color: #123347;
    --background-color: SS#000000;
}

body {
    font-family: 'PT Serif', serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

p {
    color: var(--text-color);
}

.social-links a {
    text-decoration: none;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero .company-name {
    color: var(--primary-color);
    background-color: var(--background-color);
    padding: 10px 20px;
}

.hero article {
    background-color: var(--background-color);
    padding: 20px;
}

.hero article img {
    float: right;
    margin-left: 20px;
}
.hero h1{
    position: absolute;
    top: 95px;
    left: 555px;
    color: whitesmoke
    var(--background-color)
}
body nav{
    background-color: gray;
}