* {
  box-sizing: border-box;
  width: 100%;
  border: solid #5B6DCD 10px;
  padding: 5px;}
nav {
    background-color: steelblue;
    padding: 10px;
  }
  nav a {
    color: white;
    display: block;
    padding: 20px;
  }
  h1 {
    color: steelblue;
  }
  img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  p {
    padding: 10px;
  }
  main{
    margin: 1rem;
    max-width: 840px; ;
  }
 aside{
  width:20rem;
  margin:1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #eee;
  text-align: center;
 }
 aside img{
  width: 250px;
  height: auto;
 }
 main img{
width: 150px;
height: auto;
 }
p{padding: 0;}
footer{
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
 /*Class Selectors*/
 .box{
  margin: 1rem;
  border: 3px solid rgba(0, 0, 0, 1);
  padding: 1rem;
  background-color: rgb(178, 158, 128);
  color: rgb(3, 3, 2);
 }
  aside{
    position: relative;
    width: 18em;
    text-align: center;
    height: auto;
  }
  aside h2{
    position: absolute;
    top: 845px;
    left: 105px;
  }
  aside img{
    width: 250px;
  }
  main img{
    float: right;
  }
  main ul{
    width: 16em;
    text-align: start;
  }
   